* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    /* min-width: 1000px; */
}

body {
    min-height: 100vh;
    background-color: #fff;
    /* min-width: 1000px; */
}

section {
    background-color: #1d1d1d;
}


section>*>* {
    color: white;

}

.navbar {
    width: 120px;
    height: 100vh;
    position: fixed;
    /* margin-left: -300px; */
    background-color: #181818;
    transition: 0.4s;
}

.logo {
    /* margin-left: -300px; */
    /* width:  */
    width: 130px;
    /* border: 1px solid red; */
}

.nav-link {
    font-size: 1.25em;
}


.text {
    color: white;
}


/* .nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
} */

/* .nav-link:active {
    background-color: #ffffff26;
} */

.dropdown-menu {
    background-color: #7952b3;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 120px;
}

#menu-btn {
    background-color: #7952b3;
    color: #fff;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}


.vh-100,
.min-vh-100 {
    border: 2px solid #282828;
}

.nav-item {
    border-top: 2px solid #282828;
    /* border-left: none;
    border-right: none; */
}

.nav-item:nth-child(4) {
    border-bottom: 2px solid #282828;
}

.nav-link {
    color: #909096;
    /* padding: 0px; */
    margin: 4px 10px;
}

.nav-link:hover {
    /* color: #08FDD8; */
    color: #5ce1e6;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: none;
    --bs-nav-pills-link-active-color: #909096;
    padding: 0px;
}

.active {
    color: red;
}

#sidebar a.active {
    /* background: red; */
    /* color: #08FDD8; */
    transition: 1s;
    color: #5ce1e6;
}

.navbar-nav .nav-link.active {
    color: #909096;
    --bs-nav-link-hover-color: #909096;
}

.nav-link:focus {
    color: #909096;

}

.icons {
    margin-top: 200px;
}

.icons>* {
    /* border: 1px solid red; */
    align-self: center;
    color: #909096;
}


/* .projects-text {
    width: 60%;
    min-width: 360px;
    font-size: calc(1rem + .25vw);
    line-height: 1.5;
    margin-top: 5rem;
    margin-left: 8%;
    padding: 1rem;
    position: relative;
    right: 12.5rem;
} */

.projects-text {
    width: 60%;
    min-width: 360px;
    /* position: relative; */
    margin: 5rem 8% 0px 8%;
    /* right: 12.5rem; */
    align-self: flex-start;
}

.portfolio-header {
    font-weight: bold;
    font-size: calc(4.5rem + 1.5vw);
    position: relative;
    right: 2rem;
    margin-bottom: 20px;
}


#cards {
    /* border: 1px solid red; */
    /* margin-bottom: 100px; */
    /* width: 90%; */
    left: 10px;
    padding: 0px;
    margin: 60px 0px 0px 0px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    padding: 20px;
}

#cards>* {
    /* border: 1px solid red; */
    /* width: 100px; */
    /* margin: 0;
    width: auto; */
    /* position: relative; */
    /* left: 10px; */
}

.card>img {
    /* border: 1px solid red; */
    /* object-fit: cover; */
    /* width: 480px; */
    /* height: auto; */
}

.card:hover {
    /* border: 1px solid red; */
    transition: .2s;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 10px 30px -15px;
}

.card-group {
    display: flex;
}

svg {
    /* border: 1px solid red; */
    width: 20px;
    height: 20px;
}

svg:hover {
    color: #5ce1e6;
    cursor: pointer;
    transition: .3s;
    transform: translateY(-2px);
}



#skills-section {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    /* height: 80vh !important */
    padding: 0px;
    margin: 0px;
}

#skills-section>* {
    border: 1px solid green;
    /* width: 50%; */
    padding: 3rem 4rem;
    /* height: 50%; */

}

.skills-text {
    /* border: 1px solid red; */
}

.skills-text h2 {
    font-size: calc(3.5rem + 1.5vw);
    margin-bottom: 2.5rem;
}

.skill p {
    color: white;
    /* margin-left: 20px; */
    /* border: 1px solid white; */
    margin: 20px 0px 6px 0px;
    font-size: 1.25rem;
}


.data-js {
    background-color: #FCE700;
    height: 100%;
}

.data-css {
    background-color: #1D1CE5;
    height: 100%;
}

.data-html {
    background-color: #FF6D28;
    height: 100%;
}

.data-react {
    background-color: #00F5FF;
    height: 100%;
}

.data-git {
    background-color: #FF5858;
    height: 100%;
}

.data-bs {
    background-color: #4649FF;
    height: 100%;
}


#skills-section footer {
    height: 2px;
    background-color: grey;
    /* margin: 20px 20px 20px 20px; */
}

#projects-section:hover {
    border: 2px solid #00F5FF;
    transition: 1s;
    box-shadow: inset;
}