:root {
    /* --nav-background-color: #181818;
    --home-background-color: #1d1d1d; */
    --nav-background-color: #0c0c0c;
    --home-background-color: #0e0d0d;
    /* --text-color: #758c81; */
    --text-color: #8ca79a;
    --nav-text-color: #909096;
    --nav-hover-color: #bae92e;
    /* --header-color: #ccf6e2; */
    --header-color: #85f1bb;

}

/* original colors
--nav-background-color: #181818;
    --home-background-color: #1d1d1d;
    --nav-text-color: #909096;
   --nav-hover-color: #5ce1e6;
   --text-color: #9f9fe1;
   --header-color: #c4c4d5;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 100%;
    /* min-width: 1000px; */
}

body {
    min-height: 100vh;
}

section {
    /* background-color: #1d1d1d; */
    background-color: var(--home-background-color)
}



/* Navbar secton */
.navbar1 {
    width: 120px;
    height: 100vh;
    position: fixed;
    margin-left: -120px;
    background-color: var(--nav-background-color);
}



.logo {
    /* margin-left: -300px; */
    /* width:  */
    width: 120px;
    /* border: 1px solid red; */
}

.nav-link {
    font-size: 1.25em;
}


.vh-100,
.min-vh-100 {
    border: 2px solid #282828;
}

.nav-item {
    border-top: 2px solid #282828;
    /* border-left: none;
    border-right: none; */
}

.nav-item:nth-child(4) {
    border-bottom: 2px solid #282828;
}

.nav-link {
    color: var(--nav-text-color);
    /* padding: 0px; */
    margin: 4px 10px;
}

.nav-link:hover {
    /* color: #08FDD8; */
    color: var(--nav-hover-color);
}

.nav-pills {
    --bs-nav-pills-link-active-bg: none;
    --bs-nav-pills-link-active-color: var(--nav-text-color);
    padding: 0px;
}

.active {
    color: red;
}

#sidebar a.active {
    transition: 1s;
    color: var(--nav-hover-color);
}

.navbar-nav .nav-link.active {
    color: var(--nav-text-color);
    --bs-nav-link-hover-color: var(--nav-text-color);
}

.nav-link:focus {
    color: var(--nav-text-color);

}

.icons {
    margin-top: 200px;
}

.icons>* {
    align-self: center;
    color: var(--nav-text-color);
}

.nav2-icons {
    border: 1px solid red;
    color: var(--nav-text-color);
    text-align: center;
    padding: 20px 0px;
    /* gap: 30px; */
}

.nav2-icons>* {
    gap: 30px;
    width: 25px;
    height: 25px;
    margin: 0px 4px;
    color: var(--nav-text-color);
    text-decoration: none;
}

/* HOME SECTION */
#home-section>.text>* {
    /* border: 1px solid red; */
    /* margin-bottom: 1rem; */
    padding: 20px;

}

p,
h2 {
    margin: 0;
}


#home-section {
    /* border: 1px solid red; */
    padding: 3rem 4rem;
}



.first-line {
    transition-delay: 100ms;
    font-size: 1.5rem;
    color: var(--nav-hover-color)
        /* margin: 0px; */
}

.second-line {
    font-size: calc(2.5rem + 2vw);
    color: var(--header-color)
}

/* .third-line {
    font-size: 3rem;
    color: var(--text-color);
    font-size: calc(1.5rem + 2vw);
    color: #A7D129;
} */

.fourth-line {
    color: var(--text-color);
    font-size: calc(.9rem + .25vw);

}



#home-btn {
    margin-left: 20px !important;
    padding: 10px 20px !important;
    /* border-radius: 4px; */
    background-color: var(--nav-background-color);
    border: 1px solid var(--nav-hover-color);
    /* border: none; */
    color: var(--nav-hover-color);
    /* box-shadow: 0 10px 30px -15px; */
}

#home-btn:hover {
    transition: .2s;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 10px 30px -15px;
    /* border: 2px solid var(--nav-hover-color); */
    /* transition-timing-function: ease-in; */
}

.home-btn {
    text-decoration: none;
    text-align: center;
    width: 50%;
    margin-left: 20px !important;
    padding: 10px 20px !important;
    /* border-radius: 4px; */
    background-color: var(--nav-background-color);
    border: 1px solid var(--nav-hover-color);
    /* border: none; */
    color: var(--nav-hover-color);
    /* box-shadow: 0 10px 30px -15px; */
}

.home-btn>a {
    text-decoration: none;
    color: var(--nav-hover-color);
    display: block;
}



.home-btn:hover {
    transition: .2s;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 10px 30px -15px;
    /* border: 2px solid var(--nav-hover-color); */
    /* transition-timing-function: ease-in; */
}

/* PROJECTS SECTION */
#projects-section {
    /* border: 1px solid red; */
    padding: 3rem 3rem;
    text-align: center;
}

.projects-text {
    /* border: 1px solid red; */
    /* width: 60%; */
    min-width: 360px;
    /* position: relative; */
    /* margin: 5rem 8% 0px 8%; */
    /* right: 12.5rem; */
}

.portfolio-header {

    text-align: center;
    font-weight: bold;
    font-size: calc(4.5rem + 1.5vw);
    /* position: relative;
    right: 2rem; */
    margin-bottom: 20px;
    color: var(--header-color);
    /* border: 1px solid green; */
}

.portfolio-subhead {
    font-size: calc(.9rem + .25vw);
    color: var(--text-color);
}

.projects-text p {
    /* border: 1px solid red; */
    /* color: var(--text-color); */
}


#cards {
    /* border: 1px solid red; */
    display: flex;
    padding: 20px;
    margin: 0px;
    justify-content: center;
}

.card-title {
    color: var(--nav-hover-color);
    font-weight: bold
}

.card-text {
    color: var(--nav-text-color)
}

.card-footer {
    text-align: start;
    /* border:1px solid red; */
    /* position: relative; */
    /* left: 20px */
    color: var(--header-color)
}

.card:hover {
    /* border: 1px solid red; */
    transition: .2s;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 16px 36px -15px var(--nav-hover-color);
}

.card-group {
    display: flex;
}

svg {
    /* border: 1px solid red; */
    width: 20px;
    height: 20px;
}

svg:hover {
    color: var(--nav-hover-color);
    cursor: pointer;
    transition: .3s;
    transform: translateY(-2px);
}


/* SKILLS SECTION */
#skills-section {
    /* display: flex;
    align-items: center; */
    /* border: 1px solid red; */
    /* height: 80vh !important */
    padding: 0px;
    margin: 0px;
    padding: 4vw 2vw;
}

#skills-section>* {
    /* border: 1px solid green; */
    /* width: 50%; */
    /* padding: 0rem 4rem 0rem 4rem; */
    /* padding: 1vw 2vw; */
    /* height: 50%; */

}

.skills-text {
    padding: 3rem 4rem 0rem 4rem;
    /* border: 1px solid red; */

}

.skills-text h2 {
    font-size: calc(3.5rem + 1.5vw);
    margin-bottom: 2.5rem;
    color: var(--header-color);
}

.experience {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience p {
    /* font-size: calc(.75rem + .3vw); */
    font-size: calc(.9rem + .25vw);
    color: var(--text-color);
}

.skills {
    /* border: 1px solid red; */
    /* padding-top: 0 !important: */
    padding: 3rem 4rem 3rem 4rem
}

.skill p {
    margin: 20px 0px 6px 0px;
    font-size: 1.25rem;
    color: var(--nav-text-color)
}


.data-js {
    background-color: #FCE700;
    height: 100%;
}

.data-css {
    background-color: #1D1CE5;
    height: 100%;
}

.data-html {
    background-color: #FF6D28;
    height: 100%;
}

.data-react {
    background-color: #00F5FF;
    height: 100%;
}

.data-git {
    background-color: #FF5858;
    height: 100%;
}

.data-bs {
    background-color: #4649FF;
    height: 100%;
}


#skills-section footer {
    height: 2px;
    background-color: grey;
    /* margin: 20px 20px 20px 20px; */
}

.navbar-toggler {
    width: 50px;
    height: 50px;
    margin: 20px;
    background-color: var(--nav-background-color);
    border: 2px solid var(--nav-hover-color);
    border-radius: 6px;
    color: var(--nav-hover-color);
}

.nav2-container {
    background-color: var(--nav-background-color);
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.nav2-container button:hover {
    cursor: pointer;
    transition: .3s;
    transform: translateY(-2px);
}

.nav2-container svg {
    color: var(--nav-hover-color);
    cursor: pointer;
    transform: none;
}

.nav2-container .logo {
    /* border: 1px solid red; */
    width: 90px;
    height: 90px;
}

.nav-item-col {
    /* border: 1px solid red; */
    background-color: var(--nav-background-color);
    border-top: 3px solid #282828;
    ;
}

.nav-item-col:nth-child(5) {
    border-bottom: 1px solid #282828;
}

/* Contact Section   */

#contact-section {
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 3rem;
    align-items: center;
}

.contact-name {
    /* border: 1px solid red; */
    display: flex;
    gap: 2rem
}

.contact-name>* {
    flex: 1
}

#contact-section h2 {
    font-size: calc(3.5rem + 1.5vw);
    margin-bottom: 2.5rem;
    color: var(--header-color);
    margin: 0;
}

#contact-section p {
    font-size: calc(.9rem + .25vw);
    color: var(--text-color);
}


#contact-section form {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* gap: .5rem; */
    /* justify-self: center; */
}

#contact-section button {
    /* margin-left: 20px !important; */
    padding: 10px 20px !important;
    /* border-radius: 4px; */
    background-color: var(--nav-background-color);
    border: 1px solid var(--nav-hover-color);
    /* border: none; */
    color: var(--nav-hover-color);
    width: 75%;
    align-self: center;
    margin-top: 1rem;
}

#contact-section .form-control {
    color: var(--header-color) !important;
    background-color: #0e0d0d !important;
    border: none;
    border-bottom: 1px solid var(--nav-hover-color);
    border-radius: 0 !important;
}

.form-control:focus+.form-label {
    color: none;
}



.form-floating>label {
    color: var(--text-color);
}

.form-control:focus {
    /* border-color: none; */
    border-color: blue;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
    box-shadow: none;
}

/* .form-control.is-valid {
    border-color: none !important;
}

.was-validated {
    border-color: black !important;
} */
.form-control.is-invalid,
.was-validated .form-control:invalid {
    /* border-color: black !important; */
}

.was-validated {
    border: none
}

@media all and (min-width: 992px) {}

@media all and (min-width: 992px) {


    .navbar1 {
        width: 120px;
        height: 100vh;
        position: fixed;
        margin-left: 0px;
        background-color: var(--nav-background-color);
        /* transition: 0.4s; */
        display: flex;
        /* flex-direction: ; */
    }

    .my-container {
        margin-left: 120px;
    }


    .navbar-toggler {
        display: none
    }

    .navbar2 {
        display: none;
    }

    .collapse>* {
        display: none;
    }

    .nav2-container {
        background-color: var(--nav-background-color);
        /* border: 1px solid red; */
    }


    #contact-section form {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        /* justify-self: center; */
    }

    #contact-section button {
        /* margin-left: 20px !important; */
        padding: 10px 20px !important;
        /* border-radius: 4px; */
        background-color: var(--nav-background-color);
        border: 1px solid var(--nav-hover-color);
        /* border: none; */
        color: var(--nav-hover-color);
        width: 50%;
        align-self: center;
    }
}